.animte{
    height: 400px;
    width: 400px;
   background-image: url("https://tse1.mm.bing.net/th?id=OIP.X42b4q5g88ldlViDnsLj9QHaEK&pid=Api&P=0&h=220");
   background-repeat: no-repeat;
   background-size: contain;
}